# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Node
node_modules/
dist/
dist-ssr/

# Local config
*.local

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Windows
*.suo
*.ntvs*
*.njsproj
*.sln

# Temp
*.sw?